### https://raw.github.com/github/gitignore/298588469ac0cb08a00eebf7b00efb5ab726daca/R.gitignore

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/


